body {width: 70%;
      margin: auto;}
h1, h2, h3 {font-family: sans-serif;
            margin: 1.5em 0 0 0;}
h1 {font-size: 32px;}
table {border: 2px solid black;
       border-collapse: collapse;
       margin: auto;
       text-align: center;}
th, td {border: 1px solid black;
        margin: auto}
figcaption {font-style: italic; 
            font-size: 13px;}
figure {clear: right;
        float: right; 
        margin: 5px 0 0 20px;
        max-width: 250px;}
figure img {width: 100%;}
caption {caption-side: bottom;}
